.nav {
    list-style: none;
    text-align: center;
}
.nav li {
    display:inline;
    margin-right:25px
}
.container {
    margin:0 auto;  
    border: 5px solid rgb(255, 178, 201);
    padding: 25px;
    background-color: rgb(255, 255, 255);
}
.captions {
    margin-top:-65px;
    margin-right: 239.5px;
    margin-left: 240px;
    border: 10px solid #ff9d9d;
    padding: 10px;
    background-color: rgb(255, 246, 250);
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
